<h1>Listing feats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Completed count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feats.each do |feat| %>
  <tr>
    <td><%= feat.name %></td>
    <td><%= feat.description %></td>
    <td><%= feat.completed_count %></td>
    <td><%= link_to 'Show', feat %></td>
    <td><%= link_to 'Edit', edit_feat_path(feat) %></td>
    <td><%= link_to 'Destroy', feat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feat', new_feat_path %>
