 <div class="row">

          <div class="six columns">
          	<div class="panel">
            <img src="/assets/brick_mortar.png">
       		</div>
          </div>


          <div class="six columns">
            <div class="panel">
              <h4 class="hide-for-small"> <%= @feat.name %> <hr/></h4>
            <h5 class="subheader"> <%= @feat.description %> </h5>
            </div>
        </div>
        <div class="six columns">
            <div class="panel">
              	<h5 class="hide-for-small"> Latest Completion<hr/></h4>
	          	<div class="row">
	          		<div class="four columns">
	          			<center><%= link_to image_tag(@last_user.gravatar_url(size: 140),
	          			height: 50, width: 50, class: "rounded"), 
	          			@last_user %></center>
	          		</div>
	          		<div class="eight columns">
	          			<h3><%= link_to @last_user.nickname, @last_user %></h3>
	          		</div>
	          	</div>
            </div>
        </div>
         <div class="six columns">
            <div class="panel">
              <h5 class="hide-for-small"> Sitewide Completion</h5>
              <div class="radius progress ten">
   			<span class="meter" style="width:<%= @percent %>%;"></span>
   	   		</div>
   	   		<span class="prog_text"><h6><%= @percent %>%</h6></span>

            </div>
        </div>
</div>
