<dl class="tabs">
  <dd class="active"><a href="#feed">Feed</a></dd>
  <dd><a href="#feats">Feats</a></dd>
  <dd><a href="#gitStats">Git Stats</a></dd>
</dl>

<ul class="tabs-content">

  <!-- Feed Tab -->
  <li class="active" id="feedTab">
    <% @feats.each do |cfeat| %>
    <%= link_to(cfeat.feat) do %>
      <div class="panel">
        <div class="row">
          <div class="three columns">
            <img src="http://placehold.it/100x100&text=[img]" />
          </div>
          <div class="nine columns">
            <h4><%= cfeat.feat.name %> </h4>
            <h5 class="subheader"> <%= cfeat.feat.description %></h5>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </li>

  <!-- Feats Tab -->
  <li id="featsTab">
  	    <% @total.times do |index| %>
        		<% if index%3 == 0 %>
        			<div class="row">
        		<% end %>
        		<div class="four columns">
        		<% if index < @feats.count %>
        			<%= link_to(@feats[index].feat) do %>
  						<div class="panel">
        			 	<%= image_tag("brick_mortar.png") %>
        				</div>
					<% end %>
	       		<% end %>
        		</div>
        		<% if index%3 == 2 %>
        			</div>
        		<% end %>
        <% end %>
  </li>

  <!-- Command Stats Tab -->
  <li id="gitStatsTab">
    <table class="twelve">
      <thead>
      <tr>
        <th>Command</th>
        <th>Count</th>
      </tr>
      </thead>
      <tbody>
    <% @command_history.each do |command_his| %>
      <tr>
        <td><%= command_his.command.name %></td>
        <td><%= command_his.count %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </li>
</ul>
