
<%if @feats.empty? %>
<div class="row">
  <div class="twelve columns">
    <h3 id="no-feat-notice">You haven't completed any feats!</h3>
  </div>
</div>
<% end %>
<div class="row">
  <div class="twelve columns">
    <h4 class="subheader">Your API Key</h4>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <input type="text" onclick="javascript:select();" value="<%=@api_key%>"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h4 class="subheader">Quick Setup</h4>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div class="panel">
      <h5>Everyone loves a one-liner:</h5>
          
      <div class="row">
        <div class="twelve columns">
          <input type="text" onclick="javascript:select();" value="<%=@one_liner%>"/>
        </div>
      </div>

      <h5>Or, step by step:</h5>
      <h6>Install the gem</h6>

      <div class="row">
        <div class="twelve mobile-three columns">
          <input type="text" onclick="javascript:select();" value="<%=@install_cmd%>"/>
        </div>
      </div>

      <h6>Add your API key</h6>

      <div class="row">
        <div class="twelve mobile-three columns">
          <input type="text" onclick="javascript:select();" value="<%=@conf_cmd%>"/>
        </div>
      </div>


      <h6>Alias git</h6>

      <div class="row">
        <div class="twelve mobile-three columns">
          <input type="text" onclick="javascript:select();" value="<%=@alias_cmd%>"/>
        </div>
      </div>
    </div>
  </div>
</div>
