<div class="row">    
  <div class="nine columns push-three">
    <% if check_user(@user.id) && @feats.empty? %>  
      <%= render 'setup' %>
    <% else %>
      <%= render 'feeds' %>
    <% end %>
  </div>
    
  <div class="three columns pull-nine">
    <%= link_to image_tag(@user.gravatar_url(size: 300)), @user, class: "th" %>
    <h3><%= @user.nickname %></h3>
    <h6 class="subheader">Joined on <%= @user.created_at.strftime("%b %d,%Y") %><h6>
    <h6 class="subheader"><a href="<%=@github_url%>"> View on Github </a><h6>
    <hr/>

    <h5 class="subheader">Number of feats: <%= @feats.count %></h5>
    <div class="radius progress ten">
      <span class="meter" style="width:<%= @percent %>%;"></span>
    </div>
    <span class="prog_text">
      <h6><%= @feats.count %>/<%= @all_feat_count %></h6>
    </span>
  </div>
</div>
