<div id= "header" class="contain-to-grid">
  <nav class="top-bar">
    <ul>
      <li class="name"><h1><%= link_to "Git Feats", root_path %></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <ul class="right">
        <% if logged_in? %>
          <li class="has-button">
            <%= link_to image_tag(@current_user.gravatar_url(size: 20)), 
              @current_user %>
          </li>
          <li><%= link_to @current_user.nickname, @current_user %></li>
          <li><%= link_to "logout", logout_path, :method => :delete %></li>
        <% else %>
          <li> <%= link_to "login", login_path %> </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
