<div id="header" class="contain-to-grid">
  <nav class="top-bar">
    <ul>
      <li class="name"><img src="/assets/git-feats_header.png"></li>
      <li class="name"><h1><%= link_to "Git Feats", root_path %></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <ul class="right">
        <% if logged_in? %>
          <li class="avatar">
            <!-- This is a hack to get retina images from gravatar -->
            <%= link_to image_tag(@current_user.gravatar_url(size: 140),
              height: 20, width: 20, class: "rounded"), 
              @current_user %>
          </li>
          <li>
            <%= link_to @current_user.nickname, @current_user %>
          </li>
          <li>
            <%= link_to "logout", logout_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in with Github", login_path %>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
