  <div class="row">
  <!-- Top Users -->
    <div id="top-users-tag" class="three panel columns">
    <h5 class="hide-for-small"> Top Users<hr/></h5>
      <div class="row">
        <% @top_users.each do |top_user| %>
          <% user = User.find(top_user[:id]) %>
          <div class="four columns">
            <center><%= link_to image_tag(user.gravatar_url(size: 140),
            height: 50, width: 50, class: "rounded"), user %></center>
          </div>
          <div class="eight columns">
            <h4>
              <%= link_to user.nickname, user %>
            </h4>
            <h5 class="subheader">
                  <%= top_user[:feat_count].to_s + " feats" %>
            </h5>
          </div>
        <% end %>
        <!-- End Graph --> 
      </div>
    </div>
  <!-- End Top Users -->

  
  <!-- Progress Bar -->
  <div class="nine columns">
  <div class="panel">
    <h5 class="subheader">
      Total Number of Completed Feats: <%= @completed_feats_count %>
    </h5>
    <div class="radius progress ten">
      <span class="meter" style="width:<%= @percent %>%;"></span>
    </div>
    <span class="prog_text">
      <h6><%= @completed_feats_count %>/<%= @total_feats_count %></h6>
    </span>
  </div>
  </div>
  <!-- End Progress Bar -->
    
  <!-- Graph -->    
    <div class="nine columns">
      <div class="panel" >
        <div class="row">
          <div class="twelve columns">
            <h5>
              Git Command Usage
            </h5>
            <hr />
          </div>
        </div>
        <div class="row">
          <%= render :partial => "maingraph" %>
        </div>
      </div>
  <!-- End Graph --> 
  
  <div class="row">
  <!-- Latest Feat -->    
    <div class="six columns">
      <div class="panel">
        <h5>Most Recent Feat</h5>
        <br />
        <div class="row">
          <div class="twelve columns">
            <% if @latest_feat %>
              <div class="four columns">
                <img src="/assets/feats/<%= @latest_feat.filename %>" />
              </div>
              <div class="eight columns">
                <h5 class="subheader">
                  <%= link_to @latest_feat.name, @latest_feat %>
                  <%= " - " %>
                  <%= @latest_feat.description %>
                </h5>
              </div>
            <% else %>
              <div class="twelve columns"><center>
                <h5 class="subheader"> No Feats Have Been Completed</h5>
              </center></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <!-- End Latest Feat -->    
        
  <!-- Random Feat -->    
    <div class="six columns">
      <div class="panel">
        <h5>Random Feat</h5>
        <br />
        <div class="row">
          <div class="twelve columns">
            <% if @random_feat %>
              <div class="four columns">
                <img src="/assets/feats/<%= @random_feat.filename %>" />
              </div>
              <div class="eight columns">
                <h5 class="subheader">
                  <%= link_to @random_feat.name, @random_feat %>
                  <%= " - " %>
                  <%= @random_feat.description %>
                </h5>
              </div>
            <% else %>
              <div class="twelve columns"><center>
                <h5 class="subheader">No Feats Have Been Completed</h5>
              </center></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <!-- End Random Feat -->  

  </div>
</div> 
