!!!

/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ]
  %html.ie6{lang: "en"}
/[if IE 7 ]
  %html.ie7{lang: "en"}
/[if IE 8 ]
  %html.ie8{lang: "en"}
/[if (gte IE 9)|!(IE)]
  %html{lang: "en"}

%head
  %meta{charset: "utf-8"}
  
  / Set the viewport width to device width for mobile
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %title= content_for?(:title) ? yield(:title) : "Git Feats"

  = favicon_link_tag '/assets/favicon.png'

  / Included CSS Files
  = stylesheet_link_tag    "application"

  / Included JS Files
  = javascript_include_tag "application"

  = csrf_meta_tags

%body
  = render "layouts/header"

  / Flash notices
  - if flash[:notice]
    .row
      .alert-box.alert
        = flash[:notice]
        %a.close{:href => ""} &times;

  = yield

  = render "layouts/footer"
